form{
    position: absolute;
    top: 40%;
    right: 40%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
}

label{
    display: inline-block;
    width: 70px;
}

#submit_button{
    float: right;
    margin-top: 10px;
    /*margin-left: 40%;*/
}